body {
  background: #fefefe;
  font-family: 'Segoe UI', sans-serif;
  text-align: left;
  padding: 30px;
  color: #FF0000;
  margin: 0;
}

img {
  width: 240px;
  border-radius: 8px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  color: #3e2723;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  color: #5d4037;
}

p {
  font-size: 16px;
  margin: 10px 0 18px;
}
